---
# tasks/main.yml
# Imports all the hardening tasks in logical order.

- name: "[System Setup] Update, install and delete packages"
  ansible.builtin.import_tasks: 01-system-setup.yml

- name: "[Firewall] Configure UFW"
  ansible.builtin.import_tasks: 02-firewall.yml

- name: "[SSH] Applies hardening to sshd_config"
  ansible.builtin.import_tasks: 03-ssh.yml

- name: "[Policies] Apply security policies (sysctl, limits, etc.)"
  ansible.builtin.import_tasks: 04-security-policies.yml